/*  =========================================================================
                                BASE STYLING 
=========================================================================== */


/* courgette font link - for website title  */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:wght@400;600;800&display=swap');

/* playfair display font link - for main heading */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');

/* nunito font link - for noraml text */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito+Sans:wght@400;500;600&display=swap');

:root {
    --body-bg-color: #fff;
    --orange-color: #F58840;
    --black-color: #000;
    --light-dark-color: #32324D;
    --green-color: #81BAB4;
    --hover-color: #FBD180;

    --contact-form-green-color: #1abc9c;

    --mobile-nav-bg-color: #bddcd9;

    --box-shadow: 0 .5rem 1.5rem rgba(8, 8, 8, 0.3);
    --form-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    --footer-box-shadow: 1px 10px 50px 10px rgba(0,0,0,0.75);

    --ff-website-title: 'Courgette', cursive;
    --ff-heading: 'Playfair Display', serif;
}

* {
    color: var(--black-color);
    font-family: 'Nunito Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none; outline: none;
    text-transform: capitalize;
    transition: all .3s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg-color);
}




/*  =========================================================================
                            NAVBAR styling starts
=========================================================================== */

.header {
    height: 9rem;
    /* position: fixed;
    top: 0; left: 0; right: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.header .logo {
    color: var(--black-color);
    font-size: 4rem;
    font-family: var(--ff-website-title);
    font-weight: bolder;
    z-index: 100;
}

.logo span {
    color: var(--orange-color);
    font-family: var(--ff-website-title);
}

.header .logo:hover,
.logo span:hover {
    transform: scale(1.1);
}

.header .navbar {
    letter-spacing: .1rem;
}

.navbar-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
}

.navbar-list li {
    margin-left: 2rem;
}


.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: bolder;
}

.active,
.navbar-link:hover {
    color: var(--orange-color);
    transform: scale(1.2);
}



/* ---------------------- styling for mobile version ---------------------- */

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile__nav__menu__icon,
.mobile__nav__close__icon {
    font-size: 2.5rem;
    color: var(--black-color);
}

.mobile__nav__close__icon {
    display: none;
}

.mobile__nav__menu__icon:active,
.mobile__nav__close__icon:active {
    transform: rotate(360deg);
}

/* ------------------ code for navbar using media queries ------------------ */

@media only screen and (max-width: 980px) {
    
    .mobile-navbar-btn {
        display: block;
        padding: .2rem .4rem;
        z-index: 1000 ;
    }

    .header .logo {
        font-size: 3.5rem;
    }

    .header {
        position: relative;
    }

    .navbar {
        background-color: var(--mobile-nav-bg-color);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;


        /* to push mobile version navbar */
        transform: translateX(100%);

        /* to get transition */
        transition: all .5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    .navbar .navbar-list {
        flex-direction: column;
        /* we targeting ul(.navbar-list) for flex-direction property, instead of parent flex container,
           this is because,
           the parent flex container nav(.navbar) has only one chile flex element i.e ul(.navbar-list).
           But we want li's of ul as in column direction thats why...
           we'r using flex-direction property for parent of li's  that is ul(.navbar-list)*/

        align-items: center;

    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile__nav__menu__icon {
        display: none;
    }

    .active .mobile-navbar-btn .mobile__nav__close__icon {
        display: block;
    }
}



@media only screen and (max-width: 560px) {

    .header {
        padding: 0 2.4rem;
    }

    .header .logo {
        font-size: 3rem;
    }

}


/*  =========================================================================
                            NAVBAR styling end
=========================================================================== */





/*  =========================================================================
                            HERO styling starts
=========================================================================== */


.hero-section {
    margin: 0;
    padding: 0;
}

.hero-container {
    width: 100%;
    height: 65rem;
    margin-top: 0rem;
    background-image: url('../images/menu-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

h1,
h1 span {
    font-family: var(--ff-heading);
    font-size: 10rem;
    font-weight: 600;
    letter-spacing: .2rem;
    word-spacing: 1rem;
}

h1 span {
    color: var(--orange-color);
    font-weight: bolder;
}

.hero-container .content p {
    color: var(--light-dark-color);
    font-size: 1.5rem;
    font-family: var(--ff-website-title);
    margin: 2rem 0 3rem 0;
    line-height: 3rem;
    word-spacing: 1rem;
}

.hero-container .content, 
.hero-container .hero-slider {
    margin-top: 0rem;
}


/* code for IMAGE SLIDER and ANIMATED BORDER radius */
.hero-slider {
    width: 40%;
    height: 82%;

    background-image: url('../images/gourmet-chicken-biryani-with-steamed-basmati-rice-generated-by-ai.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    border: .5rem solid var(--orange-color);

    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    
    /* animation for image slider and animated border-radius */
    animation: imageSlider 40s ease-in-out infinite,
               borderAnime 8s infinite .5s;
}


/* keyframe for image slider */
@keyframes imageSlider {
    
    0% {
        background-image: url('../images/slider/1.jpg');
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;       
    }

    14.28% {
        background-image: url('../images/slider/2.jpg');
    }

    28.56% {
        background-image: url('../images/slider/3.jpg');
    }

    42.84% {
        background-image: url('../images/slider/4.jpg');
    }

    57.12% {
        background-image: url('../images/slider/5.jpg');
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    71.4% {
        background-image: url('../images/slider/6.jpg');
    }

    85.68% {
        background-image: url('../images/slider/7.jpg');
    }

    100% {
        background-image: url('../images/slider/8.jpg');
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

}

/* keyframe for animated border */
/* @keyframes borderAnime {
    
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
} */




.explore-btn {
    width: 16rem;
    height: 5rem;
    color: #fff;
    letter-spacing: .2rem;
    word-spacing: .5rem;
    background-color: var(--green-color);
    border: .1rem solid var(--green-color);
    padding: 1rem;
    border-radius: 2rem 0;
    font-size: 1.7rem;
    font-weight: bold;
}

.explore-btn:hover {
    transform: scale(1.1);
    border-radius: 0 2rem;
}


/* resoponsive code starts */

@media (max-width: 980px) {

    .hero-container .content, 
    .hero-container .hero-slider {
        margin-top: -30rem;
    }

    .hero-container .content h1,
    .hero-container .content h1 span {
        font-size: 5rem;
    }

    .hero-container .content p {
        font-size: 1.2rem;
    }

    .hero-container .content .explore-btn {
        font-size: 1.2rem;
    }

    .hero-container .hero-slider {
        width: 35%;
        height: 50%;
    }
}


@media (max-width: 680px) {

    .hero-container .content, 
    .hero-container .hero-slider {
        margin-top: -35rem;
    }

    .hero-container .content h1,
    .hero-container .content h1 span {
        font-size: 4rem;
    }

    .hero-container .content p {
        font-size: .9rem;
    }

    .hero-container .content .explore-btn {
        font-size: .9rem;
    }

    .hero-container .hero-slider {
        width: 40%;
        height: 40%;
    }
}


@media (max-width: 500px) {

    .hero-container .content, 
    .hero-container .hero-slider {
        margin-top: 4rem;
        padding: 0 1.5rem;
    }

    .hero-container .content h1,
    .hero-container .content h1 span {
        font-size: 6rem;
    }

    .hero-container .content p {
        font-size: 1.2rem;
    }

    .hero-container .content .explore-btn {
        font-size: 1.2rem;
    }

    .hero-container .hero-slider {
        width: 80%;
        height: 50%;
    }
}



/* resoponsive code ends */


/*  =========================================================================
                            HERO styling end
=========================================================================== */







/*  =========================================================================
                        FOOD CARD styling starts
=========================================================================== */

.card-container {
    position: relative;
    width: 90%;
    height: 90rem;
    margin: 5rem auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
}

.card-container .card {
    width: 30rem;
    height: 42rem;  
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #fafafa);
    box-shadow:  20px 20px 60px #e4e4e4,
             -20px -20px 60px #f0eded;
    cursor: pointer;
}

.card-container .card .card-img {
    width: 20rem;
    position: relative;
    left: 5rem;
    top: -2rem;
}

.card-container .card .card-content {
    margin-top: -1rem;
    padding-left: 2rem;
}

.card-container .card .card-content h2 {
    font-size: 3.5em;
    margin: 1rem 0;
}

.card-container .card .card-content p {
    font-size: 1.5em;
    margin: 1rem 0;
}

.card-container .card .card-content .rating {
    margin: 1rem 0;
    font-size: 1.8rem;
}

.card-container .card .card-content a .btn {
    width: 10rem;
    height: 4rem;
    border-radius: 3rem;
    cursor: pointer;
    background-color: var(--contact-form-green-color);
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bolder;
    margin: 1rem 0 1rem 1rem;
    text-transform: none;
}

.card-container .card .card-content a .btn:hover{
    background-color: #fff;
    color: var(--contact-form-green-color);
    border: 1px solid silver;
    font-size: 1.5rem;
}

/*  =========================================================================
                    FOOD CARD styling end
=========================================================================== */




/*  =========================================================================
                    ABOUT-US styling starts
=========================================================================== */

.about-container {
    position: relative;
    width: 90%;
    height: 134rem;
    margin: 8rem auto 8rem auto;

    display: flex;
    flex-direction: column;
    line-height: 2;
    letter-spacing: .2rem;
}

.about-container > * {
    width: 100%;
    height: 50%;
    margin: 5rem auto;
    text-align: left;
}



/* --------------- info container --------------- */
.about-container .info {
    width: 100%;
    text-align: center;
    margin: 1rem 4rem 3rem 0;
}

.about-container .info h2 {
    font-size: 4rem;
    font-weight: bolder;
    font-family: var(--ff-heading);
}

.about-container .info p {
    line-height: 2;
    font-size: 1.5rem;
}



/* --------------- about-1 container --------------- */
.about1 img {
    width: 35rem;
    float: left;
    margin: 0 10rem 0 23rem;
    cursor: pointer;
}

.about1 img:hover {
    transform: scale(1.03);
}

.about1 h3 {
    font-size: 4rem;
    font-family: var(--ff-website-title);
    margin-bottom: 2rem;
    padding-right: 15rem;
}

.about1 p {
    font-size: 1.3em;
    margin-bottom: 3rem;
    text-transform: none;
}

.about1 .btn {
    width: 20rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    cursor: pointer;
    background-color: var(--contact-form-green-color);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
}


/* --------------- about-2 container --------------- */
.about2 img {
    width: 35rem;
    float: right;
    margin: 0 15rem 0 10rem;
    cursor: pointer;
}

.about2 img:hover {
    transform: scale(1.03);
}

.about2 h3 {
    font-size: 4rem;
    font-family: var(--ff-website-title);
    margin-bottom: 2rem;
    padding-left: 20rem;
}

.about2 p {
    font-size: 1.3em;
    margin-bottom: 3rem;
    padding-left: 20rem;
}

.about2 .btn {
    width: 20rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    cursor: pointer;
    background-color: var(--contact-form-green-color);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem;
    margin-left: 20rem;
}

.about1 .btn:hover,
.about2 .btn:hover {
    background-color: #fff;
    color: var(--contact-form-green-color);
    border: 1px solid silver;
    font-size: 1.6rem;
}



/* --------------- reason container --------------- */
.about-container .reason {
    width: 100%;
    text-align: center;
    margin: 2rem 4rem 6rem 0;
}

.about-container .reason h3 {
    font-size: 3.4rem;
    font-weight: bolder;
    font-family: var(--ff-heading);
}

.about-container .reason p {
    font-size: 1.5rem;
    line-height: 2;
    text-transform: none;
}

/*  =========================================================================
ABOUT-US styling end
=========================================================================== */








/*  =========================================================================
                            CONTACT-US styling end
=========================================================================== */

.container {
    position: fixed;
    width: 100%;
    height: 60rem;
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--body-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 100rem;
    height: 50rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--form-box-shadow);
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/*-------------- "contact-form" div styling starts here....
---------------------- */
  
.contact-form {
    background-color: var(--contact-form-green-color);
    position: relative;
}
  
.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
}
  
.circle.one {
    width: 13rem;
    height: 13rem;
    top: 40rem;
    right: 15rem;
}
  
.circle.two {
    width: 8rem;
    height: 8rem;
    top: .2rem;
    right: 5rem;
}
  
.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: var(--contact-form-green-color);
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
  
form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
  
.title {
    color: #fff;
    font-weight: 500;
    font-size: 2.7rem;
    margin-bottom: 1rem;
}
  
.input-container {
    position: relative;
    margin: 2rem 0;
}
  
.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 1rem 1.5rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
  
textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}
  
.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 1.5rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
  
.input-container.textarea label {
    top: 1.5rem;
    transform: translateY(0);
}
  
.contact-btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 1.5rem;
    color: var(--contact-form-green-color);
    border-radius: 2.5rem;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}
  
.contact-btn:hover {
    background-color: transparent;
    color: #fff;
}
  
.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 1.4rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
  
.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: var(--contact-form-green-color);
    top: 50%;
    transform: translateY(-50%);
}
  
.input-container span:before {
    left: 50%;
}
  
.input-container span:after {
    right: 50%;
}
  
.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1.4rem;
}
  
.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}



/*----------------- "contact-info" div styling starts here.... 
----------------------*/
  
.contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
}
  
.contact-info .title {
    color: var(--contact-form-green-color);
}
  
/* .text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
} */

/* .contact-info hr {
    width: 40%;
    border: black;
} */
  
.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1.5rem;
}
  
.information .icon {
    width: 28px;
    margin: 1rem 1.2rem 1rem 0;
}

.information p {
    text-transform: none;
}
  
.social-icons {
    padding: 2rem 0 0 0;
}
  
.social-icons p {
    color: #333;
}
  
.social-icons {
    display: flex;
    margin-top: 0.5rem;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, var(--contact-form-green-color), #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 1.5rem 3rem 0;
    transition: 0.3s;
}

.social-icons a i {
    padding: .7rem 0 1rem 0;
}
  
.social-icons a:hover {
    transform: scale(1.1);
}
  
.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid var(--contact-form-green-color);
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}
  
.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #1cd4af, #159b80);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
}
  
.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: #fafafa;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
}

.map {
    margin: 0;
    padding: 0;
    border: .1rem solid black;
    border-radius: 1rem;
}

.map iframe{
    border-radius: 1rem;
}

  
.square {
    position: absolute;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(181%, 11%);
    opacity: 0.2;
}
  
@media (max-width: 850px) {
    .form {
      grid-template-columns: 1fr;
    }
  
    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 65px;
      transform: scale(0.95);
    }
  
    .contact-form:before {
      top: -13px;
      left: initial;
      right: 70px;
    }
  
    .square {
      transform: translate(140%, 43%);
      height: 2.5rem;
    }
  
    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }
  
    .text {
      margin: 1rem 0 1.5rem 0;
    }
  
    .social-media {
      padding: 1.5rem 0 0 0;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
  
    .contact-info:before {
      display: none;
    }
  
    .square,
    .big-circle {
      display: none;
    }
  
    form,
    .contact-info {
      padding: 1.7rem 1.6rem;
    }
  
    .text,
    .information,
    .social-media p {
      font-size: 0.8rem;
    }
  
    .title {
      font-size: 1.15rem;
    }
  
    .social-icons a {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  
    .icon {
      width: 23px;
    }
  
    .input {
      padding: 0.45rem 1.2rem;
    }
  
    .contact-btn {
      padding: 0.45rem 1.2rem;
    }
}



/*  =========================================================================
                            CONTACT-US styling end
=========================================================================== */
/* 








/*  =========================================================================
                    User SIGN-UP styling starts here...n
=========================================================================== */


.sign-up-wrapper {
    position: relative;
    width: 80%;
    margin: 3.2rem 0 .5rem 15rem;
    min-height: 80vh;
    background-color: var(--body-bg-color);
    box-shadow: 1px 3px 17px 2px rgba(0,0,0,0.66);
    overflow: hidden;
    z-index: 500;
}

.sign-up-wrapper .sign-up-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sign-up-user form .grid-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

.sign-up-user form .flex-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-up-user .title{
    font-size: 3.5rem;
    color: var(--contact-form-green-color);
    margin: 2rem 0 -1rem 1rem;
    padding-left: 45%;
}


.sign-up-user form .grid-inputs .input-field {
    max-width: 24rem;
    width: 100%;
    height: 4.5rem;
    background-color: #fff;
    margin: 1rem 0 1rem 6rem;
    border: 1.5px solid silver;
    border-radius: 5.5rem;

    display: grid;
    /* to seperate the icons and input fields */
    grid-template-columns: 15% 85%;

    padding: 0 .4rem;
}

.sign-up-user form .grid-inputs .input-field i {
    text-align: center;
    line-height: 4.5rem;
    color: #939292;
    font-size: 1.5rem;
}


.sign-up-user form .grid-inputs .input-field input
{
    background: none;
    line-height: 2;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #333;
    text-transform: none;
}

.sign-up-user form .grid-inputs .input-field input::placeholder {
    color: #939292;
    font-weight: 500;
}

.sign-up-user form .flex-inputs .t-c {
    margin: 2rem 21rem 0 0;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: none;
    color: #939292;
}

.sign-up-user form .flex-inputs .btn {
    width: 18rem;
    height: 4.3rem;
    border-radius: 3.5rem;
    cursor: pointer;
    background-color: var(--contact-form-green-color);
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 1rem 0 0 8rem;
    text-transform: none;
}

.sign-up-user form .flex-inputs .btn:hover {
    background-color: #fff;
    color: var(--contact-form-green-color);
    border: 1px solid silver;
    font-size: 1.8rem;
}

.sign-up-user form .flex-inputs .or {
    margin: 1rem 0 0 8rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #939292;
}

.sign-up-user form .flex-inputs .social-text {
    margin: 1rem 0 0 8rem;
    font-size: 1.2rem;
    color: #575555;
}

.sign-up-user form .flex-inputs .social-media {
    display: flex;
    margin-left: 8rem;
}

.sign-up-user form .flex-inputs .social-media .social-icons {
    height: 3rem;
    width: 3rem;
    font-size: 1.7rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 50%;
    padding: .1rem 1rem .2rem;
    transition: .5s;
}

.sign-up-user form .flex-inputs .social-media .social-icons i {
    font-size: 1.7rem;
    color: rgb(61, 60, 60);
}

.sign-up-user form .flex-inputs .social-media .social-icons i:hover {
    color: var(--contact-form-green-color);
    border: none;
}

.sign-up-user form .flex-inputs .sign-up-link-text {
    margin: 3rem 0 1rem 8rem;
    font-size: 1.1rem;
    text-transform: none;
    text-decoration: underline;
} 

.panels-container .left-panel .content .title {
    margin-bottom: 1rem;
}

.panels-container .left-panel .content p {
    margin-bottom: 2rem;
}


/* ========== code to make image left side and form one side ========== */

.sign-up-user {
    position: absolute;
    top: 5%;
    left: 75%;
    transform: translate(-55%, 1%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .7s ease-in-out; 
}


.sign-up-wrapper::before {
    content: '';
    position: absolute;
    width: 200rem;
    height: 200rem;
    border-radius: 50% 25%;
    background: linear-gradient(-45deg, #5edab9, #32f9bd);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s;
}





/*  =========================================================================
                    User SIGN-UP styling end
=========================================================================== */










/*=========================================================================
                    SIGN-IN (user & admin) styling starts
=========================================================================== */



.sign-in-wrapper {
    position: relative;
    width: 80%;
    margin: 3.2rem 0 .5rem 15rem;
    min-height: 80vh;
    background-color: var(--body-bg-color);
    box-shadow: 1px 3px 17px 2px rgba(0,0,0,0.66);
    overflow: hidden;
}

.sign-in-wrapper .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sign-in-usr-admn form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .2s ease-in-out .7s;
}

.sign-in-usr-admn form.user-sign-in-form .title,
.sign-in-usr-admn form.admin-sign-in-form .title {
    font-size: 3.5rem;
    color: var(--contact-form-green-color);
    margin-bottom: 1rem;
}

.sign-in-usr-admn form.user-sign-in-form .input-field,
.sign-in-usr-admn form.admin-sign-in-form .input-field {
    max-width: 38rem;
    width: 100%;
    height: 5.5rem;
    background-color: #fff;
    margin: 1rem 0;
    border: 1.5px solid silver;
    border-radius: 5.5rem;

    display: grid;
    /* to seperate the icons and input fields */
    grid-template-columns: 15% 85%;

    padding: 0 .4rem;
}

.sign-in-usr-admn form.user-sign-in-form .input-field i,
.sign-in-usr-admn form.admin-sign-in-form .input-field i {
    text-align: center;
    line-height: 5.5rem;
    color: #939292;
    font-size: 1.5rem;
}

.sign-in-usr-admn form.user-sign-in-form .input-field input,
.sign-in-usr-admn form.admin-sign-in-form .input-field input {
    background: none;
    line-height: 2;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #333;
}

.sign-in-usr-admn form.user-sign-in-form .input-field input::placeholder,
.sign-in-usr-admn form.admin-sign-in-form .input-field input::placeholder {
    color: #939292;
    font-weight: 500;
}

.sign-in-usr-admn form.user-sign-in-form .btn,
.sign-in-usr-admn form.admin-sign-in-form .btn {
    width: 12rem;
    height: 4.5rem;
    border-radius: 4.5rem;
    cursor: pointer;
    background-color: var(--contact-form-green-color);
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1rem 0;
}

.sign-in-usr-admn form.user-sign-in-form a.forget-pass,
.sign-in-usr-admn form.admin-sign-in-form a.forget-pass {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #575555;
}

.sign-in-usr-admn form.user-sign-in-form .or {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #939292;
}

.sign-in-usr-admn form.user-sign-in-form .btn:hover,
.sign-in-usr-admn form.admin-sign-in-form .btn:hover {
    background-color: #fff;
    color: var(--contact-form-green-color);
    border: 1px solid silver;
    transform: scale(1.05);
}

.sign-in-usr-admn form.user-sign-in-form .social-text {
    padding: 1rem 0;
    font-size: 1.45rem;
    color: #575555;
}

.sign-in-usr-admn .social-media {
    display: flex;
}

.sign-in-usr-admn .social-media .social-icons {
    height: 3rem;
    width: 3rem;
    font-size: 1.7rem;
    margin: .45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 50%;
    padding: .1rem 1rem .2rem;
    transition: .5s;
}

.sign-in-usr-admn .social-media .social-icons i {
    font-size: 1.7rem;
    color: rgb(61, 60, 60);
}

.sign-in-usr-admn .social-media .social-icons:hover,
.sign-in-usr-admn .social-media .social-icons i:hover {
    background-color: var(--contact-form-green-color);
    color: #fff;
    border: none;
}

.sign-in-usr-admn form.user-sign-in-form a.sign-up-link-text {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-transform: none;
    text-decoration: underline;
}



/* -------------------- code to stack both forms on each other -------------------- */

.sign-in-usr-admn {
    position: absolute;
    top: 5%;
    left: 75%;
    transform: translate(-50%, 5%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s .7s ease-in-out;
}

/* code to get each form starting from column1, row1 to column2, row2 */
.sign-in-usr-admn form {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
}


/* -------------------- code to hide admin sign in page -------------------- */

form.user-sign-in-form {
    z-index: 2;
}

form.admin-sign-in-form {
    z-index: 1;
    opacity: 0;
}


.sign-in-wrapper::before {
    content: '';
    position: absolute;
    width: 200rem;
    height: 200rem;
    border-radius: 50%;
    background: linear-gradient(-45deg, #5edab9, #32f9bd);
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s;
}


/* ============ panel container starts here ============ */


.panel .content .img {
    width: 100%;
    transition: 1.5s .4s ease-in-out;
}

.panels-container {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align-last: center;
    margin-top: -9rem;
    z-index: 7;
}

.panels-container .left-panel {
    padding: 3rem 17% 2rem 12%;
    pointer-events: all;
}

.panels-container .right-panel {
    padding: 3rem 12% 2rem 17%;
    pointer-events: none;
}

.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel .content .title {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 2;
    margin-top: 10rem;
    margin-bottom: 1rem;
}

.panel .content p {
    font-size: 1.7rem;
    text-transform: none;
    color: #fff;
    margin: 1rem 0;
}

.panel .content .btn.transparent {
    margin: 0;
    color: #fff;
    background: none;
    border: 2px solid #fff;
    border-radius: 4rem;
    width: 12rem;
    height: 4.1rem;
    font-weight: bolder;
    font-size: 1.7rem;
    margin: 1rem 0 0 16rem;
}

#user-sign-in-btn {
    margin-bottom: 4rem;
}

.panel .content .btn:hover {
    background-color: #fff;
    color: #149279;
    border: 1px solid silver;
    transform: scale(1.05);
}


.right-panel .content,
.right-panel .img {
    transform: translateX(80rem);
}


/* ---------------- ANIMATIONS CODE FOR CHANGING FORMS ---------------- */

.sign-in-wrapper.form-animation::before {
    transform: translate(100%, -50%);
    right: 52%;
}

.sign-in-wrapper.form-animation .left-panel .img,
.sign-in-wrapper.form-animation .left-panel .content {
    transform: translate(-80rem);

}

.sign-in-wrapper.form-animation .right-panel .content,
.sign-in-wrapper.form-animation .right-panel .img {
    transform: translateX(0);
}

.sign-in-wrapper.form-animation .left-panel{
    pointer-events: none;
}


.sign-in-wrapper.form-animation .right-panel{
    pointer-events: all;
}

.sign-in-wrapper.form-animation .sign-in-usr-admn {
    left: 25%;
}

.sign-in-wrapper.form-animation .sign-in-usr-admn .user-sign-in-form {
    z-index: 1;
    opacity: 0;
}


.sign-in-wrapper.form-animation .sign-in-usr-admn .admin-sign-in-form {
    z-index: 2;
    opacity: 1;
}



/*  =========================================================================
                    SIGN-IN (user & admin) styling end
=========================================================================== */









/*  =========================================================================
                            FOOTER styling starts
=========================================================================== */

footer {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: var(--footer-box-shadow);
}

footer .icons a i {
    font-size: 2.2rem;
    margin: 2rem 2.5rem 1rem 2.5rem;
}

footer .content p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer .icons a i:hover {
    transform: scale(1.3);
}


/*  =========================================================================
                            FOOTER styling ends
=========================================================================== */